---
import type { CollectionEntry } from 'astro:content';

interface Props {
  article: CollectionEntry<'blog'>;
}

const { article } = Astro.props;
---

<article>
  <h2>
    <a href={`/${article.slug}/`}>{article.data.title}</a>
  </h2>
  <p>{article.data.date}</p>
</article>
